html, body {
  font-family: 'Space Mono', monospace;
  font-size: 12px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#game {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

#cell {
  font-weight: 600;
  cursor: default;
  fill: #161616;
}
#cell.on {
  fill: #5F5F5F;
}
#cell.on.three-neighbours {
  fill: #878787;
}
#cell.on.four-neighbours {
  fill: #AFAFAF;
}
#cell.on.five-neighbours {
  fill: #D7D7D7;
}
#cell.on.six-neighbours {
  fill: #FFFFFF;
}

.restart {
  color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.restart:hover {
  text-decoration: underline;
}

@media only screen and (max-device-width: 480px) {
  html, body {
    font-size: 14px;
  }
  .restart {
    display: none;
  }
}

@media (min-width: 1900px) {
  html, body {
    font-size: 16px;
  }
}
