body {
  font-family: monospace;
  font-size: 12px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
svg #row {
  stroke: #7df9ff;
  transition: all 1s;
}
svg #row.theme-light {
  fill: #f2f2f2;
}
svg #row.theme-dark {
  fill: #181818;
}

svg #hex.on {
  fill: #7df9ff;
}

.three-neighbours {
  fill: #7dd9ff !important;
  stroke: #7dd9ff !important;
}
.four-neighbours {
  fill: #7db9ff !important;
  stroke: #7db9ff !important;
}
.five-neighbours {
  fill: #7d99ff !important;
  stroke: #7d99ff !important;
}
.six-neighbours {
  fill: #827dff !important;
  stroke: #827dff !important;
}

.panel {
  position: fixed;
  padding: 0 50px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.theme {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
.breadcrumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #7df9ff;
}
.breadcrumb:hover {
  border: 1px solid red !important;
  cursor: pointer;
}
.breadcrumb.light {
  background-color: #f2f2f2;
}
.breadcrumb.dark {
  background-color: #181818;
}
.restart {
  color: white;
  font-size: 13px;
  width: 90px;
  height: 25px;
  background: transparent;
  border: 1px solid #f2f2f2;
}
.restart:hover {
  background: #f2f2f2;
  color: #181818;
  border: 2px solid #f2f2f2;
}
.restart:focus {
  outline:0;
}
label {
  margin-right: 10px;
}
#speed {
  opacity: 0.8;
  -webkit-appearance: none;
  margin-right: 50px;
  transform: rotate(180deg);
  background: #7df9ff;
  border: none;
  border-radius: 10px;
  height: 5px;
}
#speed:focus {
  outline:0;
}
